<div class="row">
  <div *ngIf="cart" class="col-md-6">
    <div><button (click)="backToShop()">Back to shop</button></div>
    <div *ngFor="let prod of cart.cart[0].products">
      <div>
        <img [src]="prod.prodImage" alt="" />
      </div>
      <div>
        <p>{{ prod.name }}</p>
      </div>
      <div>
        Quantity:
        {{ prod.sum }}
      </div>
      <div>Price: {{ prod.price * prod.sum }}</div>
    </div>
    <div>Total price: {{ TotalPrice }}</div>
  </div>
  <div class="col-md-6">
    <form [formGroup]="orderForm" (ngSubmit)="onOrder()">
      <div id="user-data">
        <div class="form-group">
          <label for="userUser">City</label>
          <input
            class="form-control"
            type="text"
            id="userCity"
            name="userCity"
            placeholder="City"
            formControlName="userCity"
            required
          />
        </div>
        <div class="form-group">
          <label for="userUser">Street</label>
          <input
            class="form-control"
            type="text"
            id="userStreet"
            name="userStreet"
            placeholder="Street"
            formControlName="userStreet"
            required
          />
        </div>
        <div class="form-group">
          <label for="userUser">Date</label>
          <input
            class="form-control"
            type="date"
            id="userDate"
            name="userDate"
            placeholder="Date"
            formControlName="userDate"
            required
          />
        </div>
      </div>
      <div class="form-group">
          <label for="userUser">Cradit card</label>
          <input
            max="16"
            min="8"
            class="form-control"
            type="number"
            id="userCradit"
            name="userCradit"
            placeholder="Cradit card"
            formControlName="userCradit"
            required
          />
        </div>
      <button
        class="btn btn-primary"
        type="submit"
      >
        Pay
      </button>
    </form>
  </div>
</div>
