<!-- <app-loader></app-loader> -->
<div class="row container-fluid mx-auto">
  <app-login class="border col-md-5"></app-login>
  <div class="border col-md-4 text-center">
    <img
      src="./assets/images/shopping-online.jpeg"
      class="img-fluid img-thumbnail"
      alt="shopping online picter"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, eveniet
      eos in aut quae, tempora neque delectus laborum quibusdam velit iste illum
      quaerat expedita possimus eaque deserunt pariatur inventore. Tenetur.
      Nostrum itaque illo laudantium, et nobis vel ab error enim ipsum velit
      sint, rerum a autem ea unde magnam? Cum in corrupti illo sit harum
      cupiditate exercitationem provident minima error? Magni unde ipsum
      consectetur veritatis quaerat dolore rem aliquid. Quae ipsa a nemo sunt
      quibusdam repellat voluptate illum velit voluptatum mollitia, ipsum
      accusantium placeat quaerat fuga, odit, ab nobis debitis.
    </p>
  </div>
  <div class="col-md-3 border">
    <p>Available products in our store:- {{ numProducts }}</p>
    <br />
    <p>Number of orders submitted in our store:- {{ numCarts }}</p>
  </div>
</div>
