<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="./assets/images/shopping-online-header.jpg"
      width="100px"
      height=""
      class="d-inline-block align-top"
      alt=""
    />
    Shoppin chaim
  </a>
  <div *ngIf="userName[1]">
    <p>welcome {{ userName[1] }}<a (click)="logoutUser()" class="ml-2 btn btn-info"> LogOut </a></p>

  </div>
  <div *ngIf="!userName[1]">
    <p>welcome guest <a (click)="conectClcik()" class="btn btn-info"> Conect </a></p>
  </div>
</nav>
